body {
  color: $color-6;
  font-family: $primary-font;
}

h1 {
  color: $color-2;
  font-family: $secondary-font;
  font-size: 2.5rem;
  font-weight: 300;
  padding: .5rem;

  @include breakpoint(medium) {
    font-size: 3rem;
  }

  @include breakpoint(large) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  padding: 0 .5rem 1rem;

  @include breakpoint(large) {
    font-size: 2.5rem;
    margin: 1em 0 1.4em;
  }
}

h3 {
  font-size: 1.5rem;
}

p {
  padding-bottom: 1rem;
}

abbr {
  color: $color-2;
}

/* Please don't do this at the root element. Choose your divs. It messes up pacman.
div {
  padding: 1.5rem .5rem;
}
*/

p {
  line-height: 1.15;
  margin: 1rem;
}

p {
  line-height: 1.15;
  margin: 1rem;
}

.summary {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.summary :last-child {
  padding: 1.5rem 0;
}

.preamble {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.explanation {
  margin: 2.5rem 1.5rem;
}

.participation {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.benefits {
  margin: 2.5rem 1.5rem;
}

.requirements {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.requirements :last-child {
  padding: 2rem 0;
  text-align: center;
}

.design-selection {
  padding: 2.5rem 1.5rem;
}

.design-archives {
  padding: 2.5rem 1.5rem;
  text-align: right;
}

.zen-resources {
  padding: 2.5rem 1.5rem;
}

.next,
.viewall {

  a {
    border-radius: $button-radius;
    color: $color-6;
    display: inline-block;
    margin: .2rem;
    text-decoration: none;
  }
}

.next {
  a {
    background-color: $color-3;
    padding: 10px 30px;
  }
}

.viewall {
  a {
    background-color: $color-4;
    padding: 10px 23px;
  }
}

.view-css,
.css-resources,
.zen-faq,
.zen-submit,
.zen-translations {
  display: inline-block;
  margin: 1rem 0;

  a {
    border-radius: $button-radius;
    color: $color-6;
    display: inline;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.view-css {
  a {
    background-color: $color-5;
  }

  abbr {
    color: $color-6;
  }
}

.css-resources {
  a {
    background-color: $color-1;
  }

  abbr {
    color: $color-6;
  }
}

.zen-faq {
  a {
    background-color: $color-3;
  }

  abbr {
    color: $color-6;
  }
}

.zen-submit {
  a {
    background-color: $color-4;
  }
}

.zen-translations {
  a {
    background-color: $color-5;
  }
}

// basic elements 
/*
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


// specific divs 
.page-wrapper { 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
    margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	} */