body {
  color: $color-6;
  font-family: $primary-font;
  overflow-x: hidden;
  margin: auto;
  padding: 3%;

  @include breakpoint(large) {
    margin: auto;
    max-width: 900px;
    padding: 0;
  }
}

h1 {
  color: $color-2;
  font-family: $secondary-font;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 5% 0 0 5%;

  @include breakpoint(medium) {
    font-size: 3.5rem;
  }

  @include breakpoint(large) {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 1.5rem;
  padding: 0 5%;

  @include breakpoint(large) {
    font-size: 2rem;
  }
}

h3 {
  color: $color-2;
  font-family: $secondary-font;
  font-size: 1.2rem;
  padding-top: 3rem;

  @include breakpoint(large) {
    padding-top: 0;
  }
}

p {
  line-height: 1.15;
  padding-bottom: 1rem;
}

abbr {
  text-decoration: none;
}

a {
  color: $color-2;
  text-decoration: none;

  &:hover {
    color: $color-8;
  }
}

.summary,
.preamble,
.participation,
.requirements {
  text-align: right;
}

.summary,
.preamble,
#zen-supporting,
.sidebar {
  margin: auto;
  max-width: 500px;

  @include breakpoint(large) {
    max-width: 100%;
  }
}

.summary {
  padding-top: 15%;
}

.summary :last-child {
  padding: 1.5rem 0 8rem;
}

.requirements {
  :nth-child(6) {
    border-top: 20px dotted $color-6;
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.design-selection {
  padding: 2.5rem 0;
}

.design-archives {
  padding: 2.5rem 0;
  text-align: right;
}

.zen-resources {
  padding: 2.5rem 0;

  ul {
    text-align: center;
  }
}

.next,
.viewall {

  a {
    border-radius: $button-radius;
    color: $color-6;
    display: inline-block;
    margin: .2rem;
    text-decoration: none;
  }
}

.next {
  a {
    background-color: $color-3;
    padding: 10px 30px;
  }
}

.viewall {
  a {
    background-color: $color-4;
    padding: 10px 23px;
  }
}

.view-css,
.css-resources,
.zen-faq,
.zen-submit,
.zen-translations {
  display: inline-block;
  margin: 1rem 0;

  a {
    border-radius: $button-radius;
    color: $color-6;
    display: inline;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.view-css {
  a {
    background-color: $color-5;
  }
}

.css-resources {
  a {
    background-color: $color-1;
  }

  abbr {
    color: $color-6;
  }
}

.zen-faq {
  a {
    background-color: $color-3;
  }

  abbr {
    color: $color-6;
  }
}

.zen-submit {
  a {
    background-color: $color-4;
  }
}

.zen-translations {
  a {
    background-color: $color-5;
  }
}

.extra2 {
  padding-top: 5rem;
}
