// Animation Styles

.extra2 {
  animation: enterLeft 4s linear infinite;
  content: url('./svg/blue_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;
  z-index: -1;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra3 {
  animation: enterRight 4s linear infinite;
  content: url('./svg/red_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;
  z-index: -1;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra4 {
  animation: enterLeft 4s linear infinite;
  content: url('./svg/pink_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;
  z-index: -1;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra5 {
  animation: enterRight 4s linear infinite;
  content: url('./svg/orange_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;
  z-index: -1;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra6 {
  animation: enterLeft 4s linear infinite;
  content: url('./svg/blue_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;
  z-index: -1;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

@keyframes enterRight {
  0% {
    right: -275%;
  }

  100% {
    right: 175%;
  }
}

@keyframes enterLeft {
  0% {
    left: -275%;
  }

  100% {
    left: 175%;
  }
}
