// Animation Styles

.extra2 {
  animation: enterLeft .5s ease both;
  content: url('./svg/blue_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra3 {
  animation: enterRight .5s ease both;
  content: url('./svg/red_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra4 {
  animation: enterLeft .5s ease both;
  content: url('./svg/pink_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra5 {
  animation: enterRight .5s ease both;
  content: url('./svg/orange_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

.extra6 {
  animation: enterLeft .5s ease both;
  content: url('./svg/blue_ghost.svg');
  overflow: hidden;
  position: relative;
  width: auto;

  &:hover {
    content: url('./svg/dark_blue_ghost.svg');
  }
}

@keyframes enterRight {
  0% {
    opacity: 0;
    right: -2150px;
  }

  90% {
    opacity: 1;
  }

  100% {
    right: 5%;
  }
}

@keyframes enterLeft {
  0% {
    left: -2150px;
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 5%;
  }
}
