.next,
.viewall {

  a {
    background-color: $color-2;
    border-radius: 40%;
    color: $color-6;
    display: inline-block;
    margin: .2rem;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.design-archives {
  text-align: right;
}
