.next,
.viewall {

  a {
    background-color: $color-2;
    border-radius: 40%;
    color: $color-6;
    display: inline-block;
    margin: .2rem;
    text-decoration: none;
  }
}

.next {
  a {
    padding: 24px 30px;
  }
}

.viewall {
  a {
    padding: 25px 23px;
  }
}

.design-archives {
  text-align: right;
}
