
.preamble {
  position: relative;

  &::before {
    content: url('./svg/mobile_down_left_down_pp.svg');
    left: 0px;
    position: absolute;
    top: 0px;
    width: 200px;
  }

  &::after {
    content: url('./svg/mobile_down_pp.svg');
    left: 0;
    top: 0;
    margin: 0 0;
    max-width: 200px;
    position: absolute;
    width: 100;
  }
}

#zen-participation {
  position: relative;

  &::before {
    content: url('./svg/mobile_down_right_down.svg');
    margin: 0 0;
    max-width: 200px;
    position: absolute;
    width: 100;
  }

  &::after {
    content: url('./svg/mobile_down_left_down.svg');
    left: 0px;
    margin: 0 0;
    max-width: 200px;
    position: absolute;
    width: 100;
  }
}

#zen-benefits {
  position: relative;

  &::after {
    content: url('./svg/mobile_down_pp.svg');
    left: 0px;
    margin: 0 0;
    max-width: 200px;
    position: absolute;
    top: 100px;
    width: 100;
  }
}



.requirements {
  position: relative;
}

.requirements::after {
  position: absolute;
  content: url('./svg/bottom_line.svg');
  top: 350px;
  left: -50px;
  max-width: 200px;
  width: 100;
  @include breakpoint(medium) {

  }

}

@include breakpoint(medium) {
  .preamble {
    position: relative;

    &::before {
      content: url('./svg/mobile_down_left_down_pp.svg');
      max-width: 200px;
      position: absolute;
      width: 100;
      top: -140px;
      left: -120px;
    }

    &::after {
      content: url('./svg/mobile_down_pp.svg');
      left: 0;
      top: 0;
      margin: 75% -25%;
      max-width: 200px;
      position: absolute;
      width: 100;
    }
  }

  #zen-participation {
    position: relative;

    &::before {
      content: url('./svg/mobile_down_right_down.svg');
      margin: -65% -125%;
      max-width: 200px;
      position: absolute;
      width: 100;
    }

    &::after {
      content: url('./svg/mobile_down_left_down.svg');
      left: -200px;
      margin: -15% 15%;
      max-width: 200px;
      position: absolute;
      width: 100;
    }
  }

  #zen-benefits {
    position: relative;

    &::after {
      content: url('./svg/mobile_down_pp.svg');
      left: -150px;
      margin: 32% 0;
      max-width: 200px;
      position: absolute;
      top: 100px;
      width: 100;
    }
  }
}

@include breakpoint(large) {
  #zen-preamble {
    &::before {
      content: url('./svg/desktop_down_right_pp.svg');
      left: -450px;
      top: -200px;
    }

    &::after {
      content: url('./svg/desktop_down_left_pp.svg');
      left: -100px;
      margin-top: 5%;
      top: 250px;
    }
  }

  #zen-participation {
    &::before {
      content: url('./svg/desktop_down_right.svg');
      left: -100px;
      margin-top: 15%;
      top: -50px;
    }

    &::after {
      content: url('./svg/desktop_down_left.svg');
      margin-top: 15%;
      top: 350px;
    }
  }

  #zen-benefits {
    &::after {
      content: url('./svg/desktop_down_pp.svg');
      margin-top: 15%;
      top: 145px;
    }
  }
}
