@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #000;
}

body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #ffe733;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  font-weight: 300;
  padding: .5rem;
}

@media (min-width: 481px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  padding: 0 .5rem 1rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    margin: 1em 0 1.4em;
  }
}

h3 {
  font-size: 1.5rem;
}

p {
  padding-bottom: 1rem;
}

abbr {
  color: #ffe733;
}

/* Please don't do this at the root element. Choose your divs. It messes up pacman.
div {
  padding: 1.5rem .5rem;
}
*/
p {
  line-height: 1.15;
  margin: 1rem;
}

p {
  line-height: 1.15;
  margin: 1rem;
}

.summary {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.summary :last-child {
  padding: 1.5rem 0;
}

.preamble {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.explanation {
  margin: 2.5rem 1.5rem;
}

.participation {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.benefits {
  margin: 2.5rem 1.5rem;
}

.requirements {
  margin: 2.5rem 1.5rem;
  text-align: right;
}

.requirements :last-child {
  padding: 2rem 0;
  text-align: center;
}

.design-selection {
  padding: 2.5rem 1.5rem;
}

.design-archives {
  padding: 2.5rem 1.5rem;
  text-align: right;
}

.zen-resources {
  padding: 2.5rem 1.5rem;
}

.next a,
.viewall a {
  border-radius: 40%;
  color: #fff;
  display: inline-block;
  margin: .2rem;
  text-decoration: none;
}

.next a {
  background-color: #e22840;
  padding: 10px 30px;
}

.viewall a {
  background-color: #ffc0cb;
  padding: 10px 23px;
}

.view-css,
.css-resources,
.zen-faq,
.zen-submit,
.zen-translations {
  display: inline-block;
  margin: 1rem 0;
}

.view-css a,
.css-resources a,
.zen-faq a,
.zen-submit a,
.zen-translations a {
  border-radius: 40%;
  color: #fff;
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
}

.view-css a {
  background-color: #ffa500;
}

.view-css abbr {
  color: #fff;
}

.css-resources a {
  background-color: #8fd4ff;
}

.css-resources abbr {
  color: #fff;
}

.zen-faq a {
  background-color: #e22840;
}

.zen-faq abbr {
  color: #fff;
}

.zen-submit a {
  background-color: #ffc0cb;
}

.zen-translations a {
  background-color: #ffa500;
}

/*
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


// specific divs 
.page-wrapper { 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
    margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	} */
body {
  display: grid;
  grid-template-columns: 1fr repeat(12, 85px) 1fr;
  grid-template-rows: repeat(250, 20px); }

.page-wrapper {
  grid-column: 2 / 14;
  grid-row: 1/51;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.extra1 {
  grid-column: 4 / 12;
  grid-row: 8 / 15; }

.extra2 {
  width: 400px;
  height: 400px;
  content: url("./svg/pink_ghost.svg");
  grid-column: 9;
  grid-row: 20;
  position: relative; }

.extra2:hover {
  content: url("./svg/dark_blue_ghost.svg"); }

.intro {
  grid-column: 1 / 3;
  grid-row: 1/50;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(50, 20px); }

.summary {
  grid-column: 2;
  grid-row: 10; }

.preamble {
  grid-column: 2;
  grid-row: 24;
  z-index: 100; }

header {
  grid-column: 1 / 3; }

footer {
  text-align: center;
}

footer > * {
  border-radius: 40%;
  color: #fff;
  margin: 3.5rem 0;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

footer :first-child {
  background-color: #8fd4ff;
}

footer :nth-child(2) {
  background-color: #e22840;
}

footer :nth-child(3) {
  background-color: #ffc0cb;
}

footer :nth-child(4) {
  background-color: #ffa500;
}

footer :nth-child(5) {
  background-color: #8fd4ff;
}

@media (min-width: 481px) {
  footer :first-child {
    padding: 10px 19px;
  }
  footer :nth-child(2) {
    padding: 10px 27px;
  }
  footer :nth-child(3) {
    padding: 10px 30px;
  }
  footer :nth-child(4) {
    padding: 10px 23px;
  }
  footer :nth-child(5) {
    padding: 10px 30px;
  }
}

.extra1 {
  border-radius: 50%;
  margin: 0 0;
  margin-top: 5em;
  border-radius: 100em 100em 0 0;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation: eating-top 0.5s infinite;
  animation: eating-top 0.5s infinite;
}

.extra1,
.extra1::before {
  width: 70px;
  height: calc(70px/2);
  background: #fed75a;
}

.extra1::before {
  content: '';
  display: block;
  margin-top: calc(70px/2);
  position: absolute;
  -webkit-transform-origin: top;
  transform-origin: top;
  border-radius: 0 0 100em 100em;
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
  -webkit-animation: eating-bottom 0.5s infinite;
  animation: eating-bottom 0.5s infinite;
}

.extra1::after {
  position: absolute;
  border-radius: 100em;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  margin-top: calc((70px / 2) - 10px);
  margin-left: calc((70px / 2) - 10px);
  -webkit-transform-origin: pac-man-center;
  transform-origin: pac-man-center;
  -webkit-animation: pac-man-center 0.5s infinite, pacman-pellet 0.5s -0.33s infinite linear;
  animation: pac-man-center 0.5s infinite, pacman-pellet 0.5s -0.33s infinite linear;
}

@-webkit-keyframes eating-top {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes eating-top {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@-webkit-keyframes eating-bottom {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}

@keyframes eating-bottom {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}

@-webkit-keyframes pac-man-center {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes pac-man-center {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@-webkit-keyframes pacman-pellet {
  0% {
    opacity: 7;
    -webkit-box-shadow: 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white, 220px 0 0 0 white;
            box-shadow: 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white, 220px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 20px 0 0 0 white, 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white;
            box-shadow: 20px 0 0 0 white, 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white;
  }
}

@keyframes pacman-pellet {
  0% {
    opacity: 7;
    -webkit-box-shadow: 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white, 220px 0 0 0 white;
            box-shadow: 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white, 220px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 20px 0 0 0 white, 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white;
            box-shadow: 20px 0 0 0 white, 70px 0 0 0 white, 120px 0 0 0 white, 170px 0 0 0 white;
  }
}
/*# sourceMappingURL=style.css.map */