//breakpoints
$break-small: 600px;
$break-large: 601px;

// color palette
$color-1: #8fd4ff; // Blue
$color-2: #ffe733; // Yellow
$color-3: #e22840; // Red
$color-4: #ffc0cb;
$color-5: #ffa500;
$color-6: #fff; // White
$color-7: #000; // Black


// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Press Start 2P', cursive;
